<div class="scene scene--card">
    <div class="card">
        <div class="card__face card__face--front">loading...</div>
        <div id="<%= typeof id != 'undefined' ? id : '' %>" class="card__face card__face--back">
            <div class="card__image__instant card__text__small external_content" draggable="false" external='<%= typeof content != 'undefined' ? content : '' %>'>
                <br>
                <a onclick="loadExternalAll()">
                    load external content
                </a>
                <span title="This embedded content is currently deactivated. When loaded, data will be transmitted to external servers and cookies might be set. By clicking one the text the content will be loaded from the external site." alt=" ? ">
                    <%- include('../svg/questionmark.svg'); %>
                </span>
                <br>
            </div>
        </div>
    </div>
</div>