<div class="scene scene--card">
    <div class="card">
        <div class="card__face card__face--front">loading...</div>
        <div id="<%= typeof id != 'undefined' ? id : '' %>" class="card__face card__face--back">
            <div class="card__image__instant card__text__small external_content" draggable="false" external='<%= typeof content != 'undefined' ? content : '' %>'>
                <p>This is a embedded page. The content is not displayed right now, because it might set its own cookies.</p>
                <p>By clicking one of the buttons below the content will be loaded from the external server.</p>
                <button onclick="loadExternal(this)">
                    load this embedded element
                </button>
                <br>
                <br>
                <button onclick="loadExternalAll()">
                    load all embedded elements
                </button>
            </div>
        </div>
    </div>
</div>