<div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">loading...</div>
          <div class="card__face card__face--back">
            <a href="<%= typeof href != 'undefined' ? href : '' %>">
              <img class="card__image" src="<%= typeof src != 'undefined' ? src : '' %>" alt="<%= typeof alt != 'undefined' ? alt : '' %>" draggable="false" />
            </a>
          </div>
        </div>
      </div>