<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
  Xilef12000 | 
  <%= typeof title != 'undefined' ? title : '' %>
</title>
<meta charset="utf-8" name="description" content="Xilef12000">
<link rel="icon" sizes="any" type="image/svg+xml" href="/assets/favicon_dark.svg" id="icon">
<link rel="stylesheet" href="/style-sheets/style.css">
<link rel="stylesheet" href="/style-sheets/navbar.css">
<link rel="stylesheet" href="/style-sheets/imageflip.css">
<link rel="stylesheet" href="/style-sheets/imagetrack.css">
<link rel="stylesheet" href="/style-sheets/imagemodal.css">
<script src="/scripts/script.js"></script>