/*
//https://codepen.io/Hyperplexed/full/MWXBRBp
//https://www.youtube.com/watch?v=PkADl0HubMY
//https://camillemormal.com/
*/
#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%; 
    /*
    position: relative;
    left: 12.5%;
    */
    user-select: none; /* -- Prevent image highlighting -- */
}

#image-track > .image {
    border-radius: 5px;
    background: #000000;
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 62.5% center;
}