/*
//https://codepen.io/desandro/pen/LmWoWe
//https://3dtransforms.desandro.com/card-flip
*/
.scene-wrapper, .scene-wrapper-project {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 4vmin;
    padding: 4vmin;
    page-break-after: always;
    break-after: always;
}
.scene-wrapper  .scene {
    width: max(40vmin, 320px);
    max-width: 80vw;
    aspect-ratio: calc(40 / 56);
    /*border: 1px solid #CCC;*/
    perspective: 120vmin;
}
.scene-wrapper-project  .scene {
    width: max(80vmin, 320px);
    max-width: 80vw;
    aspect-ratio: calc(80 / 20);
    /*border: 1px solid #CCC;*/
    perspective: 120vmin;
}
.scene-wrapper-project  .scene .link{
    text-decoration: none;
    color: inherit;
    position: absolute;
    left: 0;
    display:inline-block;
    width:100%;
    height:100%;
}
.scene-wrapper-project  .scene .link-div{
    text-align: left;
    margin: 1vmin;
}
.scene-wrapper-project  .scene h1{
    font-size: 4vmin;
    line-height: 4vmin;
    margin-top: 1vmin;
    margin-bottom: 1vmin;
    color: var(--color-text);
    font-weight: bold;
}
.scene-wrapper-project  .scene p{
    font-size: 2vmin;
    line-height: 2vmin;
    margin-top: 0.5vmin;
    margin-bottom: 0.5vmin;
    margin: 0;
    color: color-mix(in srgb, var(--color-text) 75%, var(--color-menue-light) 25%) ;
    font-weight: normal;
}
.scene-wrapper-project .scene .stats {
    height: min(4vmin, 28px);
    margin-top: 1vmin;
    margin-bottom: 1vmin;
}
.scene-wrapper-project .scene .stats img{
    margin-right: 1vmin;
}
.scene-wrapper-project .scene .stats .toggle_href{
    width: fit-content;
}
.card {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
}
.card.is-flipped {
    transform: rotateX(180deg);
}
.scene-wrapper .scene .card .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 56vmin;
    color: var(--color-text);
    text-align: center;
    font-weight: bold;
    font-size: 4vmin;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.scene-wrapper-project .scene .card .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    color: var(--color-text);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
.scene-wrapper-project .scene .card .card__face--front {
    line-height: 20vmin;
    text-align: center;
    font-weight: bold;
    font-size: 4vmin;
}
.card__image, .scene-wrapper iframe  {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
}

.card__face--front {
    border-radius: 5px;
    background: var(--color-menue-light);
}
.card__face--back {
    border-radius: 5px;
    background: var(--color-menue-light);
    transform: rotateX(180deg);
}
.card__text__small {
    line-height: 1.2rem;
    text-align: justify;
    font-weight: normal;
    margin: 2rem;
    font-size: 1rem;
    height: calc(100% - 4rem);
    overflow: scroll;
}
.card__text__small button{
    max-width: 100%;
    padding: 0.4rem;
}