body {
	background: url(../assets/basic.png) no-repeat center center fixed; 
	background-size: cover;
	font-family: Arial;
	color:#CDCDD4;
	min-height: 100vh;
	grid-template-rows: auto 1fr auto;
	margin: 0;
	display: grid;
	text-align: center;
}
header {
	min-height:50px;
}
footer {
	min-height:50px;
}
a {
	text-decoration: none;
	color:#CDCDD4;
}
.a {
	text-decoration: underline;
	color: #A4EC01;
}
.gallery-title {
	padding-left: 16px;
	padding-right: 16px;
}
.gallery-title:hover {
	color: white;
}
.content-wrapper {
	min-height:50px;
	width: 80vw;
	border-radius: 16px;
	background-color: #202324;
	margin-left: auto;
	margin-right: auto;
}
.line {
	width: calc(100vw - 32px);
	height: 4px;
	object-fit: fill;
}
.icon{
	fill: #CDCDD4;
	padding-left: 8px;
	padding-right: 8px;
}
.icon:hover {
	fill: white;
}