body {
	background: url(../assets/basic.png) no-repeat center center fixed;
	background-color: #202324;
	background-size: cover;
	font-family: Arial;
	color:#CDCDD4;
	min-height: 100vh;
	grid-template-rows: auto 1fr auto;
	margin: 0;
	display: grid;
	text-align: center;
}
header {
	min-height:50px;
}
footer {
	min-height:50px;
}
a {
	text-decoration: none;
	color:#CDCDD4;
}
code {
	font-family: Consolas;
	outline: #A4EC01 solid 1px;
}
p {
	text-align: left;
	text-align: justify;
	text-justify: inter-word;
	padding-left: 32px;
	padding-right: 32px;
}
.image_table {
	padding-top: 16px;
	padding-left: 32px;
	padding-right: 32px;
}
.image_table img {
	width: 100%;
	border-radius: 8px;
}
.image_table td {
	width:50%;
}
.left {
	text-align: left;
}
.a {
	text-decoration: underline;
	color: #A4EC01;
	text-align: left;
}
.gallery-title {
	padding-left: 16px;
	padding-right: 16px;
}
.gallery-title:hover {
	color: white;
}
.content-wrapper {
	min-height:50px;
	max-width: min(120vh, 80vw);
	border-radius: 16px;
	background-color: #202324;
	margin-left: auto;
	margin-right: auto;
}
.line {
	width: calc(100vw - 32px);
	height: 4px;
	object-fit: fill;
}
.icon{
	fill: #CDCDD4;
	padding-left: 8px;
	padding-right: 8px;
}
.icon:hover {
	fill: white;
}