@import "Fonts/major_shift-webfont.css";
@import "Fonts/FiraCode-Retina.css";
@import "Fonts/Poppins.css";
body {
	background: url(../assets/basic.png) no-repeat center center fixed;
	background-color: #202324;
	background-size: cover;
	font-family: "Poppins", helvetica;
	color:#CDCDD4;
	min-height: 100vh;
	grid-template-rows: auto 1fr auto;
	margin: 0;
	display: grid;
	text-align: center;
	font-size: 16px;
}
h1 {
	font-family: major_snafuregular, "Poppins", helvetica;
	font-size: 64px;
	margin-top: 4px;
	margin-bottom: 4px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 18.7px;
}
header {
	min-height:50px;
}
footer {
	min-height:50px;
}
a {
	text-decoration: underline;
	color: #A4EC01;
	text-align: left;
}
code {
	font-family: FiraCode-Retina, SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace !important;
	outline: #A4EC01 solid 1px;
	border-radius: 4px;
	margin: 2px;
	padding: 2px;
}
p {
	text-align: left;
	text-align: justify;
	text-justify: inter-word;
	padding-left: 32px;
	padding-right: 32px;
}
.typing {
	font-size: 24px !important;
}
.cursor {
	font-size: 30px !important;
	transition-property: opacity;
  	transition-duration: 0.25s;
}
.small {
	font-size: 12px;
}
.zero {
	font-size: 0px;
}
.content-wrapper {
	min-height:50px;
	width: min(120vh, 80vw);
	border-radius: 16px;
	background-color: #202324;
	margin-left: auto;
	margin-right: auto;
}
.image_table {
	width: 100%;
	padding-top: 16px;
	padding-left: 32px;
	padding-right: 32px;
}
.image_table img {
	max-height: calc(100% - 2em);
	max-width:  100%;
	border-radius: 8px;
}
.image_table iframe {
	max-height: calc(100% - 2em);
	max-width:  100%;
	border-radius: 8px;
}
.image_table img:hover {
	opacity: 0.7;
}
.image_table div:focus img{
	opacity: 1;
}
.image_table_div:focus {
	border-radius: 16px;
	background-color: #00000080;
	cursor: pointer;
	position: fixed;
	aspect-ratio: auto;
	height: 80%;
	width: 80%;
	top: 10%;
	left: 10%;
	right: 10%;
	bottom: 10%;
}
.image_table_div:focus-within {
	border-radius: 16px;
	background-color: #00000080;
	cursor: pointer;
	position: fixed;
	aspect-ratio: auto;
	height: 80%;
	width: 80%;
	top: 10%;
	left: 10%;
	right: 10%;
	bottom: 10%;
}
.image_table td {
	width:50%;
}
.image_table div {
	padding: 16px;
	aspect-ratio: 1;
}
.left {
	text-align: left;
}
.center {
	text-align: center;
}
.aH {
	text-decoration: none;
	color:#CDCDD4;
	text-align: center;
}
.gallery-title {
	padding-left: 16px;
	padding-right: 16px;
	transition-property: color;
  	transition-duration: 0.5s;
}
.gallery-title:hover {
	color: #D717F0;
}
.line {
	width: calc(100vw - 32px);
	height: 4px;
	object-fit: fill;
}
.icon{
	fill: #CDCDD4;
	padding-left: 8px;
	padding-right: 8px;
	transition-property: fill;
  	transition-duration: 0.5s;
}
.icon:hover {
	fill: #D717F0;
}
.left {
	text-align: left;
	padding-left: 32px;
	padding-right: 32px;
}
.bold {
	font-weight: bold !important;
}
.purple {
	color: #D717F0;
	fill: #D717F0;
}
.purple_dark {
	color: #8416F2;
	fill: #8416F2;
}
.Xilef12000 {
	transition-property: color;
  	transition-duration: 0.5s;
}
.Xilef12000:hover {
	color: #D717F0;
}
.Bgray {
 background-color: #606060;
}
.rounded {
	border-radius: 8px;
}