<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title:"404 ERROR"}); %>
</head>
<body>
  <header>
    <%- include('../partials/header'); %>
  </header>
  <div class="content-wrapper">
    <h2>404 - ERROR</h2>
    <h3>:( This not the web page you are looking for</h3>
    <p>╚(•⌂•)╝: if you think this is a mistake on the server site please contact the <a class="a" href="/about">webmaster</a> and provide him the Debug-Info shown below.</p>
    <center>
      <a href="/">
        <button>
          <p>index/main page</p>
        </button>
      </a>
    </center>
    <br/>
    <br/>
    <div class="left">
      <p>Debug Info:</p>
      <p>Requested Url: <a class="a" href="" id="Url"></a>
      </p>
      <p id="Time"></p>
      <br>
      <p>Hoster Status:</p>
      <a class="a" href="https://www.githubstatus.com/">
        <p>
          https://www.githubstatus.com/
        </p>
      </a>
      <p>Domain/Redirect Status:</p>
      <a class="a" href="https://www.strato.de/faq/status">
        <p>
          https://www.strato.de/faq/status
        </p>
      </a>
      <script src="/scripts/404.js" type="text/javascript"></script>
    </div> 
  </div>
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>