<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title:"About"}); %>
</head>
<body>
  <header>
    <%- include('../partials/header', {selected:[]}); %>
  </header>
  <div class="content-wrapper">
    <%- include('../html/about.html'); %>    
  </div> 
  <footer>
    <%- include('../partials/footer', {selected:["selected"]}); %>
  </footer>
</body>