<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title:"Gallery"}); %>
</head>
<body>
  <header>
    <%- include('../partials/header'); %>
  </header>
  <div class="content-wrapper">
    <h1>Gallery:</h1>
    
    <!--
      //https://codepen.io/desandro/pen/LmWoWe
      //https://3dtransforms.desandro.com/card-flip
    -->
    <div class="scene-wrapper">
      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">loading...</div>
          <div class="card__face card__face--back">
            <img class="card__image modal-image" src="/assets/art/8f59.png" alt="Free to use Meerkat base by Xilef12000" draggable="false" />
          </div>
        </div>
      </div>
      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">loading...</div>
          <div class="card__face card__face--back">
            <img class="card__image modal-image" src="/assets/art/8f58.png" alt="Transparent Free to use Meerkat base by Xilef12000" draggable="false" />
          </div>
        </div>
      </div>
      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">loading...</div>
          <div class="card__face card__face--back">
            <img class="card__image modal-image" src="/assets/art/d72c.png" alt="Garden seating area" draggable="false" />
          </div>
        </div>
      </div>
      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">loading...</div>
          <div class="card__face card__face--back">
            <img class="card__image modal-image" src="/assets/art/b62e.png" alt="Canine Refsheet" draggable="false" />
          </div>
        </div>
      </div>
      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">loading...</div>
          <div class="card__face card__face--back">
            <img class="card__image modal-image" src="/assets/art/4f35.png" alt="Rexouium Head" draggable="false" />
          </div>
        </div>
      </div>
    </div>
    <script src="scripts/imageflip.js"></script>
    
    <!--
      //https://www.w3schools.com/howto/howto_css_modal_images.asp
    -->        
    <div id="myModal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="img01">
      <div id="caption"></div>
    </div> 
    <script src="scripts/imagemodal.js"></script>
    
  </div>   
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>