<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <header>
    <%- include('../partials/header_plus'); %>
  </header>
  
  <div class="content-wrapper">
    <h2>Gallery</h2>
    <table class="image_table">
      
      <tbody><tr>
        <td>
          <div tabindex="0" class="image_table_div" id="Meerkat Base White Background">
            <h3>Meerkat Base White Background</h3>
            
            <img src="art/8f59.png">
            
          </div>
        </td>
        <td>
          <div tabindex="0" class="image_table_div" id="Meerkat Base">
            <h3>Meerkat Base</h3>
            
            <img src="art/8f58.png">
            
          </div>
        </td>
      </tr>
      
      <tr>
        <td>
          <div tabindex="0" class="image_table_div" id="garden seating area">
            <h3>garden seating area</h3>
            
            <img src="art/d72c.png">
            
          </div>
        </td>
        <td>
          <div tabindex="0" class="image_table_div" id="garden seating area daycycle">
            <h3>garden seating area daycycle</h3>
            <div class="Bgray rounded NoHide">
              <p class="small">This is a embedded page. The content is not displayed right now, because it might set its own cookies.</p>
              <p class="small">By clicking "Accept, and load" the content will be loaded from the external server.</p>
              <p>
                <button onclick="loadExternal('<iframe width=&quot;90%&quot; height=&quot;80%&quot; src=&quot;https://www.youtube.com/embed/T2v26MZoNVM&quot; title=&quot;YouTube video player&quot; frameborder=&quot;0&quot; allow=&quot;accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture&quot; allowfullscreen></iframe>')">
                  Accept, and load
                </button>
              </p>
              <p>
                <a href="https://www.youtube.com/embed/T2v26MZoNVM">https://www.youtube.com/embed/T2v26MZoNVM</a>
              </p>
            </div>
            
            
          </div>
        </td>
      </tr>
      
      <tr>
        <td>
          <div tabindex="0" class="image_table_div" id="Canine Refsheet">
            <h3>Canine Refsheet</h3>
            
            <img src="art/b62e.png">
            
          </div>
        </td>
        <td>
          <div tabindex="0" class="image_table_div" id="Rexouium Head">
            <h3>Rexouium Head</h3>
            
            <img src="art/4f35.png">
            
          </div>
        </td>
      </tr>
      
    </tbody></table>
  </div>
  
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
  
  
</body>
</html>