<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <header>
    <%- include('../partials/header_plus'); %>
  </header>
  
  <div class="content-wrapper">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2 class="left zero purple">
      <span class="typing">I'M </span>
      <span id="typing" class="typing"></span>
      <span id="cursor" class="cursor" style="opacity: 0;">|</span>
    </h2>
    <p class="bold purple_dark">Xilef12000, Programmer, Animator, Renderer, Developer, Artist</p>
    <script src="/scripts/index.js" type="text/javascript"></script>
    <br>
    <br>
  </div>
  
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
  
  
</body>
</html>