<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <header>
    <%- include('../partials/header_plus'); %>
  </header>
  
  <div class="content-wrapper">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2 class="left zero purple">
      <span class="typing">I'M </span>
      <span id="typing" class="typing"></span>
      <span id="cursor" class="cursor" style="opacity: 0;">|</span>
    </h2>
    <p class="bold purple_dark">Xilef12000, Programmer, Animator, Renderer, Developer, Artist</p>
    <script src="/scripts/index.js" type="text/javascript"></script>
    <br>
    <br>
    <h2>Projects:</h2>
    <table class="image_table">
      
      <tbody><tr>
        <td>
          <a class="aH" href="project/10a2/">
            <h3>QLC+ Dark Theme</h3>
            <img src="project/10a2/thumbnail.png">
          </a>
        </td>
        <td>
          <a class="aH" href="project/6497/">
            <h3>WS2821 over Artnet</h3>
            <img src="project/6497/thumbnail.png">
          </a>
        </td>
      </tr>
      
    </tbody></table>
    <a href="projects">See More...</a>
    <br>
    <h2>Gallery:</h2>
    <table class="image_table">
      
      <tbody><tr>
        <td>
          <div tabindex="0" class="image_table_div">
            <h3>Meerkat Base White Background</h3>
            
            <img src="art/8f59.png">
            
          </div>
        </td>
        <td>
          <div tabindex="0" class="image_table_div">
            <h3>Meerkat Base</h3>
            
            <img src="art/8f58.png">
            
          </div>
        </td>
      </tr>
      
    </tbody></table>
    <a href="gallery">See More...</a>
  </div>
  
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
  
  
</body>
</html>