<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title:"Home"}); %>
</head>
<body>
  <header>
    <%- include('../partials/header', {selected:["selected", "", ""]}); %>
  </header>
  <div class="content-wrapper">
    
    <br/>
    <h1 class="zero purple">
      <span class="typing">I'M </span>
      <span id="typing" class="typing"></span>
      <span id="cursor" class="cursor">|</span>
    </h1>
    <p class="bold purple_dark">Xilef12000, Programmer, Animator, Renderer, Developer, Artist</p>
    <script src="scripts/typewriter.js"></script>
    <br/>
    
    <!--
      //https://codepen.io/desandro/pen/LmWoWe
      //https://3dtransforms.desandro.com/card-flip
    -->
    <div class="scene-wrapper-project">
      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">loading...</div>
          <div class="card__face card__face--back">
            <a href="/project/10a2">
              <img class="card__image" src="/assets/project/10a2/thumbnail.png" alt="QLC+ Dark Theme" draggable="false" />
            </a>
          </div>
        </div>
      </div>
      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">loading...</div>
          <div class="card__face card__face--back">
            <a href="/project/6497">
              <img class="card__image" src="/assets/project/6497/thumbnail.png" alt="WS2821 over Artnet" draggable="false" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="center-contents">
      <h3 class="no-space-around">
        <a href="/projects" class="no-decoration">see more...</a>
      </h3>
    </div>
    <div class="scene-wrapper">
      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">loading...</div>
          <div class="card__face card__face--back">
            <img class="card__image modal-image" src="/assets/art/8f59.png" alt="Free to use Meerkat base by Xilef12000" draggable="false" />
          </div>
        </div>
      </div>
      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">loading...</div>
          <div class="card__face card__face--back">
            <img class="card__image modal-image" src="/assets/art/d72c.png" alt="Garden seating area" draggable="false" />
          </div>
        </div>
      </div>
    </div>
    <div class="center-contents">
      <h3 class="no-space-around">
        <a href="/gallery" class="no-decoration">see more...</a>
      </h3>
    </div>
    <script src="scripts/imageflip.js"></script>
    
    <!--
      //https://www.w3schools.com/howto/howto_css_modal_images.asp
    -->        
    <div id="myModal" class="modal">
      <span class="close">&times;</span>
      <img class="modal-content" id="img01">
      <div id="caption"></div>
    </div> 
    <script src="scripts/imagemodal.js"></script>
    
  </div> 
  <footer>
    <%- include('../partials/footer', {selected:[]}); %>
  </footer>
</body>