<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head', {title:"Projects"}); %>
</head>
<body>
  <header>
    <%- include('../partials/header'); %>
  </header>
  <div class="content-wrapper">
    <h1>Projects:</h1>
    
    <!--
      //https://codepen.io/desandro/pen/LmWoWe
      //https://3dtransforms.desandro.com/card-flip
    -->
    <div class="scene-wrapper-project">
      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">loading...</div>
          <div class="card__face card__face--back">
            <a href="/project/10a2">
              <img class="card__image" src="/assets/project/10a2/thumbnail.png" alt="QLC+ Dark Theme" draggable="false" />
            </a>
          </div>
        </div>
      </div>
      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">loading...</div>
          <div class="card__face card__face--back">
            <a href="/project/6497">
              <img class="card__image" src="/assets/project/6497/thumbnail.png" alt="WS2821 over Artnet" draggable="false" />
            </a>
          </div>
        </div>
      </div>
      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">loading...</div>
          <div class="card__face card__face--back">
            <a href="/project/29b7">
              <img class="card__image" src="/assets/project/29b7/thumbnail.png" alt="Custom Browser Start Page"draggable="false" />
            </a>
          </div>
        </div>
      </div>
      <div class="scene scene--card">
        <div class="card">
          <div class="card__face card__face--front">loading...</div>
          <div class="card__face card__face--back">
            <a href="/">
              <img class="card__image" src="/assets/project/1082/thumbnail.png" alt="xilef12000.github.io" draggable="false" />
            </a>
          </div>
        </div>
      </div>
    </div>  
    <script src="scripts/imageflip.js">
    </script>
    
  </div>   
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
</body>