<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <header>
    <%- include('../partials/header_plus'); %>
  </header>
  
  <div class="content-wrapper">
    <h2>Projects</h2>
    <table class="image_table">
      
      <tbody><tr>
        <td>
          <a class="aH" href="project/10a2/">
            <h3>QLC+ Dark Theme</h3>
            <img src="project/10a2/thumbnail.png">
          </a>
        </td>
        <td>
          <a class="aH" href="project/6497/">
            <h3>WS2821 over Artnet</h3>
            <img src="project/6497/thumbnail.png">
          </a>
        </td>
      </tr>
      
      <tr>
        <td>
          <a class="aH" href="project/29b7/">
            <h3>Custom Browser Start Page</h3>
            <img src="project/29b7/thumbnail.png">
          </a>
        </td>
        <td>
          <a class="aH" href="project/1082/">
            <h3>xilef12000.github.io</h3>
            <img src="project/1082/thumbnail.png">
          </a>
        </td>
      </tr>
      
    </tbody></table>
  </div>
  
  <footer>
    <%- include('../partials/footer'); %>
  </footer>
  
  
</body>
</html>