@import "Fonts/major_shift-webfont.css";
@import "Fonts/FiraCode-Retina.css";
@import "Fonts/Poppins.css";
:root {
    --color-bg: #181a1b;
    --color-text: #e8e6e3;
    --color-a: #D717F0;
    --color-a-hover: #8416F2;
    --color-menue: #000000;
    --color-menue-light: #3c3c3c;
    --color-code: #A4EC01;
    --font-family: Poppins, Verdana, sans-serif, sans;
    --font-code: FiraCode-Retina, SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    --font-x: major_snafuregular;
    --transition: 0.25s;
    color-scheme: dark !important;
}
html {
    scroll-behavior:smooth
}
body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-family);
    font-size: 16px;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    display: grid;
    max-width: 100%;
    overflow-x: hidden;
}
.center-contents {
    display: flex;
    align-items: center;
    justify-content: center;
}
.right-contents {
    display: flex;
    align-items: center;
    justify-content: right;
}
.extra-padding {
    padding: 1rem;
}
.content-wrapper {
    margin-bottom: min(30vh, 10%);
    padding: 0.5rem;
}
a {
    color: var(--color-a);
}
table {
    max-width: 100%;
}
img {
    max-width: 100%;
    border-radius: 5px;
}
code, pre {
    font-family: var(--font-code);
    color: var(--color-code);
    white-space: pre-line;
}
.no-decoration {
    text-decoration: none;
}
.no-space-around {
    padding: 0;
    margin: 0;
}
.about-me{
    display: grid;
    grid-template-columns: 3fr 12fr;
    grid-template-rows: 1fr;
    grid-auto-flow: dense;
    gap: 1rem;
}
.about-me > div:first-child > div {
    background-color: var(--color-menue-light);
    border-right: 0.5rem solid var(--color-menue);
    border-radius: 0.5rem;  
    height: 100vh;
}
.sticky_8 {
    position: -webkit-sticky;
    position: sticky;
    top: 8px; 
}
.about-me > div:first-child > div {
    padding: 0.5rem;
}
.about-me .about-pp {
    border-radius: 50%;
}
.purple {
    color: var(--color-a);
    fill: var(--color-a);
}
.purple_dark {
    color: var(--color-a-hover);
    fill: var(--color-a-hover);
}
.green {
    color: var(--color-code);
    fill: var(--color-code);
}
.zero {
    font-size: 0px;
}
.typing {
    font-size: 2rem !important;
}
.cursor {
    font-size: 2.5rem !important;
    transition-property: opacity;
    transition-duration: 0.25s;
}