<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../../partials/head', {title:"QLC+ Dark Theme"}); %>
</head>
<body>
	<header>
		<%- include('../../partials/header', {selected:[]}); %>
	</header>
	<div class="content-wrapper">
		<%- include('../../html/project/10a2.html'); %>
	</div> 
	<footer>
		<%- include('../../partials/footer', {selected:[]}); %>
	</footer>
</body>