<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../../partials/head', {title:"Custom Browser Start Page"}); %>
</head>
<body>
	<header>
		<%- include('../../partials/header', {selected:[]}); %>
	</header>
	<div class="content-wrapper">
		<h1>Custom Browser Start Page</h1>
		<p>Demo <a href="/assets/project/29b7/startpage.html">startpage.html</a><br>
			See <a href="https://github.com/Xilef12000/custom-browser-start-page">https://github.com/Xilef12000/custom-browser-start-page</a>
		</p>
	</div> 
	<footer>
		<%- include('../../partials/footer', {selected:[]}); %>
	</footer>
</body>