<!DOCTYPE html>
<html lang="en">
<head>
	<%- include('../../partials/head'); %>
</head>
<body>
	<header>
		<%- include('../../partials/header_plus'); %>
	</header>
	
	<div class="content-wrapper">
		<h2>Custom Browser Start Page</h2>
		<p>Demo <a href="/assets/project/29b7/startpage.html">startpage.html</a><br>
			See <a href="https://github.com/Xilef12000/custom-browser-start-page">https://github.com/Xilef12000/custom-browser-start-page</a>
		</p>
	</div>
	
	<footer>
		<%- include('../../partials/footer'); %>
	</footer>
	
</body>
</html>